services:
  api:
    build: ./src
    container_name: dizai_API
    depends_on:
      - db
    env_file: .env
    ports:
      - "8000:8000"
    restart: always

  db:
    image: postgres:15
    container_name: my_postgres
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
